<div class="text">
<p shuffle>
...it is wrong to think of human use of language as characteristically informative,
in fact or in intention. Human language can be used to inform or mislead, to clarify
one’s own thoughts or to display one’s cleverness, or simply for play. If I speak
with no concern for modifying your behaviour or thoughts, I am not using language
any less than if I say exactly the same things with such intention. If we hope to
understand human language and the psychological capacities on which it rests, we
must first ask what it is, not how or for what purposes it is used. When we ask
what human language is, we find no striking similarity to animal communication
systems. There is nothing useful to be said about behaviour or thought at the
level of abstraction at which animal and human communication fall together. The
examples of animal communication that have been examined to date do share many of
the properties of human gestural systems, and it might be reasonable to explore
the possibility of direct connection in this case. But human language, it appears,
is based on entirely different principles. This, I think, is an important point,
often overlooked by those who approach human language as a natural, biological
phenomenon; in particular, it seems rather pointless, for these reasons, to speculate
about the evolution of human language from simpler systems – perhaps as absurd as
it would be to speculate about the “evolution” of atoms from clouds of elementary
particles.
</p>
<p shuffle>
As far as we know, possession of human language is associated with a specific type
of mental organisation, not simply a higher degree of intelligence. There seems
to be no substance to the view that human language is simply a more complex instance
of something to be found elsewhere in the animal world. This poses a problem for
the biologist, since, if true, it is an example of true “emergence” – the appearance
of a qualitatively different phenomenon at a specific stage of complexity of
organisation. Recognition of this fact, though formulated in entirely different
terms, is what motivated much of the classical study of language by those whose
primary concern was the nature of mind. And it seems to me that today there is no
better or more promising way to explore the essential and distinctive properties
of human intelligence than through the detailed investigation of the structure of
this unique human possession. A reasonable guess, then, is that if empirically
adequate generative grammars can be constructed and the universal principles that
govern their structure and organisation determined, then this will be an important
contribution to human psychology, in ways to which I will turn directly, in detail.
</p>
<p shuffle>
In the course of these lectures I have mentioned some of the classical ideas
regarding language structure and contemporary efforts to deepen and extend them.
It seems clear that we must regard linguistic competence – knowledge of a language
– as an abstract system underlying behaviour, a system constituted by rules that
interact to determine the form and intrinsic meaning of a potentially infinite
number of sentences...
</p>
<p class="label"><em>Language and Mind</em>, Excerpt, Noam Chomsky</p>
</div>
