<div class="clock">
    <p class="label">12 hour</p>
    <p class="time">{{clock | date:'h:mm:ss a'}}</p>
</div>
<div class="clock">
    <p class="label">24 hour</p>
    <p class="time">{{clock | date:'H:mm:ss'}}</p>
</div>
<div class="clock">
    <p class="label">Reversed</p>
    <p class="time">{{clock | date:'H:mm:ss' | reverseTime}}</p>
</div>
<div class="clock">
    <p class="label">Hexadecimal reversed</p>
    <p class="time">{{clock | date:'H:mm:ss' | reverseTime | timeToBase:16}}</p>
</div>
<div class="clock">
    <p class="label">Hexadecimal color reversed</p>
    <p class="time color-time" style="background-color: #{{clock | date:'H:mm:ss' | reverseTime | timeToBase:16:true}}">
        #{{clock | date:'H:mm:ss' | reverseTime | timeToBase:16:true}}
    </p>
</div>
<div class="clock">
    <p class="label">Hexadecimal color</p>
    <p class="time color-time" style="background-color: #{{clock | date:'H:mm:ss' |  timeToBase:16:true}}">
        #{{clock | date:'H:mm:ss' | timeToBase:16:true}}
    </p>
</div>
<div class="clock">
    <p class="label">Hexadecimal</p>
    <p class="time">
        {{clock | date:'H:mm:ss' | timeToBase:16}}
    </p>
</div>
<div class="clock">
    <p class="label">Trinary</p>
    <p class="time">{{clock | date:'H:mm:ss' | timeToBase:3}}</p>
</div>
<div class="clock">
    <p class="label">Binary</p>
    <p class="time">{{clock | date:'H:mm:ss' | timeToBase:2}}</p>
</div>
<div class="clock">
    <p class="label">Negabinary</p>
    <p class="time">{{clock | date:'H:mm:ss' | timeToNegativeBase:2}}</p>
</div>
<div class="clock">
    <p class="label">Negatrinary</p>
    <p class="time">{{clock | date:'H:mm:ss' | timeToNegativeBase:3}}</p>
</div>
<div class="clock">
    <p class="label">Negadecimal</p>
    <p class="time">{{clock | date:'H:mm:ss' | timeToNegativeBase:10}}</p>
</div>
<div class="clock">
    <p class="label">Base hour ({{clock | date:'h'}})</p>
    <p class="time" ng-if="hour != 1 && hour != 13">
        {{clock | date:'h:mm:ss' | timeToBase:(clock | date:'h')}} {{clock | date:'a'}}
    </p>
    <p class="time" ng-if="hour == 1 || hour == 13">Come back at 2</p>
</div>
<div class="clock">
    <p class="label">Roman numeral</p>
    <p class="time">{{clock | date:'H:mm:ss' | timeToRoman}}</p>
</div>
<div class="clock">
    <p class="label">Percent of day elapsed</p>
    <p class="time">{{clock | date:'H:mm:ss' | percentTimeElapsed}}%</p>
</div>
<div class="clock">
    <p class="label">Percent of day remaining</p>
    <p class="time">{{clock | date:'H:mm:ss' | percentTimeLeft}}%</p>
</div>
<div class="clock">
    <p class="label"><em>The Titanic</em> played...</p>
    <p class="time">{{clock | date:'H:mm:ss' | timeToMovie}} times</p>
</div>

