<p>{{text}}</p>

<p><q><a href="" ng-click="randomPage()">Anyone who uses arithmetic methods to produce random numbers is in a state of sin.</a></q> --- John von Neumann</p>

<a href="#/clocks">clocks</a>
<a href="#/chomsky">chomp</a>
<a href="#/thesaurus">sense</a>
<a href="#/resume">resume</a>
<a href="#/about">about</a>
