<p class="toggle" ng-click="flaskMode = !flaskMode"><i class="fa fa-flask"></i></p>

<div class="text" flask toggle="{{flaskMode}}">

<section>
    <h2>Experience</h2>
    <h3>Radius Intelligence</h3>
    <p class="time"><time datetime="2013-01-02">Jan 2013</time> - present</p>
    <h4>Software Engineer</h4>
    <p>Front end and API engineering for a web application using Java, JavaScript, and Angular.js.</p>

    <h3>UW Information Technology</h3>
    <p class="time"><time datetime="2012-04-01">Apr 2012</time> - <time datetime="2012-12-15">Dec 2012</time></p>
    <h4>Student Web Developer</h4>
    <p>Developed mobile and web applications in Python and JavaScript for student and university use.</p>

    <h3>Nikola Project, UW Electrical Engineering</h3>
    <p class="time"><time datetime="2011-04-01">Apr 2011</time> - <time datetime="2011-10-01">Oct 2011</time></p>
    <h4>Student System Administrator</h4>
    <p>Provided technical support and maintenance for Linux servers and workstations.</p>

    <h3>SSLI Lab</h3>
    <p class="time"><time datetime="2011-06-01">June 2011</time> - <time datetime="2011-08-01">Aug 2011</time></p>
    <h4>Research Assistant</h4>
    <p>Developed and assisted in implementing algorithms for natural language processing.</p>

    <h3>UW IMA</h3>
    <p class="time"><time datetime="2010-09-01">Sept 2010</time> - <time datetime="2012-11-01">Nov 2012</time></p>
    <h4>Roller Skating Supervisor</h4>
    <p>Taught basic skating skills, gave out rental skates, monitored and enforced safety rules.</p>
</section>

<section>
    <h2>Skills</h2>
    <ul class="skills">
        <li>Python</li>
        <li>Java</li>
        <li>Javascript</li>
        <li>SQL</li>
        <li>Angular.js</li>
        <li>JQuery</li>
        <li>Django</li>
        <li>Flask</li>
        <li>Pylons</li>
        <li>Play! Framework</li>
        <li>RESTful</li>
        <li>MVC<li>
        <li>Git</li>
        <li>SVN</li>
        <li>Bash</li>
        <li>Linux</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS/LESS</li>
    </ul>
</section>

<section>
    <h2>Education</h2>
    <h3>University of Washington</h3>
    <p class="time"><time datetime="2008-09-01">2008</time> - <time datetime="2012-12-15">2012</time></p>
    <h4>Bachelor of Arts, Anthropology</h4>
    <ul>
        <li>Minor in Mathematics</li>
        <li>Coursework in Java, web programming, Unic, and Matlab</li>
    </ul>

    <h3>Foothill Community College</h3>
    <p class="time"><time datetime="2006-09-01">2006</time> - <time datetime="2007-06-01">2007</time></p>
    <p>Computer science classes concurrently with high school.</p>
</section>

</div>
