* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

header {
    text-transform: uppercase;
    font-family: sans-serif;
}

h1 small {
    color: #c0c0c0;
}

dl {
    overflow: auto;
}

dt {
    font-weight: bold;
    float: left;
    width: 15em;
    clear: both;
}
dd {
    padding: 5px;
    float: left;
}

.clock {
    float: left;
    width: 12em;
    height: 2em;
    border: 1px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.label {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 8pt;
    color: #c0c0c0;
}

.time {
    font-family: monospace;
    padding: 5px;
}
.color-time {
    color: white;
}

.text > p {
    margin: 20px 10px;
}

.text section {
    margin-bottom: 1em;
    clear: both;
    overflow: auto;
}

.text h2 {
    font-family: sans-serif;
    margin-bottom: .5em;
}

.text h3 {
    margin-top: 1em;
    font-size: 11pt;
}

.text h4 {
    font-weight: normal;
    font-style: italic;
}

.text .time {
    float: right;
}

.skills li {
    list-style: none;
    float: left;
    padding-right: 15px;
}

q a {
    color: black;
    text-decoration: none;
}

.toggle {
    text-align: center;
    font-size: 15pt;
    color: blue;
    cursor: pointer;
}
